@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Poppins&family=Raleway:wght@600&display=swap');
body {
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
}

/* footer */
.footer {
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 30px;
	text-align: center;
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
}

/*button*/

.button {
  background-color: #000000;
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  font-size: 14px;
  margin-right: auto;
  margin-top: 1%;
  opacity: 0.6;
  transition: 0.3s;
  display: block;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
	opacity: 1
}